body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    /* background-color: rgb(177, 179, 116); */
        background-color: rgba(164, 182, 98, 0.822);

    /* background-color: cadetblue; */
}

.pageBody {
    margin: 10px;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    background-color: floralwhite;
    width: fit-content;
    height: fit-content;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.inputs {
    background-color: floralwhite;
    border-radius: 5px;
}

.log-in, .log-out, .register {
  background-color: #3f51b5;
  border-radius: 4px;
  color: floralwhite;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #3f51b5;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

.logo {
 width: 200px;
}

.businessCard {
    display: inline-block;
    width: 300px;
    height: fit-content; 
    margin: 10px;
    /* padding : 5px; */
}

.thumbnail {
 max-height: 100px;
 max-width: 100px;
 border: 1px solid grey;
}

.detailCard {
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.businessCategory {
    font-style: italic;
}

.ratingBox {
    margin-bottom: 0px !important;
}